* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");


body {
    background-image: linear-gradient(190deg, rgba(145, 6, 158, 0.842) 30%, rgba(16, 43, 192, 0.664));

    font-family: "Roboto", sans-serif;

}
